* {
    margin: 0;
    padding: 0;
}

.row {
    border-top: solid 1px black;
    height: 6.25%;
    display: flex;
    flex-direction: row;
}

.square {
    border: solid 1px black;
    flex-basis: 6.25%;
}

#canvas {
    border: 1px solid green;
    width: 500px;
    height: 500px;

}